:root {
    --van-cell-group-background-color: #202125;
    --van-cell-text-color: #FFFFFF;
    --van-cell-background-color: #202125;
    --van-cell-label-color: #575962;
    --van-cell-label-margin-top: 0px;
    --van-text-color: #FFFFFF;
    --van-popup-background-color: var(--van-cell-group-background-color);
    --van-divider-border-color: var(--van-cell-text-color);
    --van-tabs-nav-background-color: var(--van-cell-group-background-color);
    --van-tabs-bottom-bar-width: 50%;
}

.btn-plain-red-white-dark{
    background-color: #191A1E;
    color: #FFFFFF;
    border-color: red;
    border-width: 1px;
    
}
.btn-plain-dark-white-dark{
    background-color: #191A1E;
    color: #FFFFFF;
    border-color: #191A1E;
    border-width: 1px;
    
}
.btn-small-account-min-width {
    min-width: 71px;
    height: 30px;
}

.right-icon-account {
    font-size: 13px;
    line-height: inherit;
    margin-right: 5px;
    padding-top: 2px;
}

.van-cell-group-margin {
    margin-bottom: 10px;
    margin-top: 10px;

}

.van-cell-title {
    margin-left: 3px;
}

.van-cell::after {
    position: absolute;
    box-sizing: border-box;
    content: ' ';
    pointer-events: none;
    right: var(--van-padding-md);
    bottom: 0;
    left: var(--van-padding-md);
    border-bottom: 0px;
}

.account-safe-area-bottom {
    padding-bottom: 50px;
}

.account-label-container {
    min-height: 120px;
}

.van-hairline--top-bottom::after, .van-hairline-unset--top-bottom::after {
    border-width: 0;
}
